<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mopub.mobileads.base">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name="com.mopub.common.MoPubBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/MoPubFullscreenTheme" />
        <activity
            android:name="com.mopub.common.privacy.ConsentDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/MoPubFullscreenTheme" />
    </application>
</manifest>
